

#login_register_module {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0px;
  color: white;
  display: none;
}

#chat_module {
display: none;
}

#serverusrs {
margin-top: 10px;

}

.title {
color: white;
font-size: 50px;
font-weight: bold;
margin-left: auto;
maring-right: auto;
}

body {
height: 90vh;
background-height: 100vh;
background-image: url(https://pbs.twimg.com/media/D7ARnXRXoAAmW3W.jpg:large);
}

.mainConsole {
height: 90vh;
}

.msgs{
height: 80vh;
overflow-y: scroll;
}

#messageHis {
height 80vh;
overflow-y: scroll;
}
.messageBox {
height: 10vh;
}

.serverChannelUserNav {
height: 100%;
background-color: black;
border-right: white;
border-style: solid;
border-width: 2px;
margin-left 50px;
}
.controlPanel {
height: 40vh;
}
#newServer {
width: 150px;
}
#addUser {
width: 150px;
}
#newChannel {
width: 150px;
}
.userList {
height: 50vh;
}
#myUserMgmt {
height: 25vh;
overflow-y: scroll;
}


.onlineInServer{
height: 100%;
background-color: black;
background-color: black;
border-right: white;
border-style: solid;
border-width: 2px;
margin-right 5px;
}
#serverusrs {
height:35vh;
}
#servs {
height:25vh;
}
#chans {
height:25vh;
}


#messageBox {
height: 8vh;
}


.register_module {
display: none;
}
.login_module {
display: none;
}

.messagesFromMe {
border-radius: 9px;
background-color: black;
color: green;
margin-left: 1px;
margin-top: 1px;
height: 80px;
font-size: 16px;
font-weight: bold;
font-family: "centauri";
padding: 10px;
width: fit-content;
min-width: 10px;
max-width: 450px;
min-height: 15px;
height: fit-content;
margin-bottom: 20px;
margin-top: 10px;
overflow-wrap: break-word;
}

.messagesNotFromMe {
border-radius: 9px;
background-color: black;
color: red;
margin-left: 1px;
margin-top: 1px;
height: 80px;
font-size: 16px;
font-weight: bold;
font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
padding: 10px;
width: fit-content;
min-width: 10px;
max-width: 450px;
min-height: 15px;
height: fit-content;
margin-bottom: 20px;
margin-top: 10px;
overflow-wrap: break-word;
}

