.divider {
  height: 2px;
  border-width: 2px;
  color: white;
  background-color: white;
}

#dbInput {
  width: 500px;
}

#messageStack {
  margin-top: 75px;
}

#messageBox {
  color: white;
  font-size: 20px;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-bottom: 80px;
}
.message {
  margin: 0px;
  padding-top: 20px;
  padding-left: 0px;
  padding-right: 0px;
}

.sidebar {
  position: fixed;
}

.sidebarCont {
  padding-top: 80px;
  margin-top: 80px;
  background: #000000e0;
}
h1 {
  background-color: white;
  color: blue;
  text-align: center;
  position: fixed;
  width: 100%;
  height: 75px;
}

.main {
  margin-top: 1px;
}

.bodyStyle {
  background-color: blue;
}

#logout {
  margin-left: 12px;
}

#whoIsUser {
  color: white;
}

.users {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#chatBox {
  color: black;
  padding: 0px;
}

.chat {
  margin: 0px;
  padding: 0px;
}

.login_module {
  background-color: green;
  color: black;
  font-size: 16px;
  padding-left: 30px;
  margin-top: 75px;
}

.chat {
  border-radius: 9px;
  background-color: green;
  color: black;
  margin-left: 1px;
  margin-top: 1px;
  height: 80px;
  font-size: 16px;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 10px;
  width: fit-content;
  min-width: 10px;
  max-width: 450px;
  min-height: 15px;
  height: fit-content;
  margin-bottom: 20px;
  margin-top: 10px;
  overflow-wrap: break-word;
}

.myChat {
  border-radius: 9px;
  background-color: tan;
  color: black;
  text-align: right;
  margin-left: auto;
  margin-right: 1px;
  margin-top: 1px;
  margin-bottom: 20px;
  height: 80px;
  font-size: 16px;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 10px;
  width: fit-content;
  min-width: 10px;
  max-width: 450px;
  min-height: 15px;
  height: fit-content;
  overflow-wrap: break-word;
}

.msgFromMe {
  margin-bottom: 25px;
  color: white;
  text-align: right;
  font-size: 14px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.msgFromNotMe {
  margin-bottom: 25px;
  color: white;
  text-align: left;
  font-size: 14px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.text-muted {
  color: white;
  font-weight: bold;
}

ul {
  padding-bottom: 20px;
}

ul li a img {
  background: #66bb6a;
  top: 0;
  border: none;
  width: 20px;
}
